DB_PASSWORD=a_very_secret_key
DB_SERVER=mssql
DB_PORT=1433
DB_NAME=SibersProjectDb
DB_USER=sa
DB_PORT=1433
API_PORT=5050
JWT_SECRET=SuperSecretKeyForSibersProjectMinimum32Chars!
JWT_ISSUER=SibersAPI
JWT_AUDIENCE=SibersClient
JWT_EXPIRES_HOURS=24
SUPERADMIN_EMAIL=superadmin@sibers.local
SUPERADMIN_PASSWORD=SuperAdmin123!